pkgbase = shibumi-shell
	pkgdesc = Transactional Shibumi desktop shell plugins for Omarchy Quattro
	pkgver = 0.1.1beta.15.3
	pkgrel = 1
	url = https://github.com/HANCORE-linux/Shibumi-Shell
	arch = any
	license = MIT
	depends = omarchy
	depends = quickshell
	depends = python
	depends = python-dbus
	depends = iputils
	depends = glib2
	depends = systemd
	depends = jq
	depends = curl
	depends = networkmanager
	depends = power-profiles-daemon
	depends = upower
	depends = xdg-utils
	depends = libnotify
	depends = wl-clipboard
	depends = ttf-material-symbols-variable
	depends = ttf-jetbrains-mono-nerd-basic
	depends = noto-fonts-cjk
	depends = adwaita-fonts
	optdepends = cava: live media spectrum
	optdepends = ffmpegthumbnailer: video picker thumbnails
	optdepends = imagemagick: additional media thumbnails
	optdepends = btop: battery panel system monitor action
	optdepends = nvidia-utils: NVIDIA GPU telemetry
	optdepends = git: source-checkout diagnostics and migration
	source = shibumi-shell-0.1.1-beta.15.3.tar.gz::https://github.com/HANCORE-linux/Shibumi-Shell/releases/download/v0.1.1-beta.15.3/shibumi-shell-0.1.1-beta.15.3.tar.gz
	sha256sums = f16c8c16c0f8b262d0017ad0b457416794ff8fd0d64465e38225362b7e1051cf

pkgname = shibumi-shell
