pkgbase = shibumi-shell
	pkgdesc = Transactional Shibumi desktop shell plugins for Omarchy Quattro
	pkgver = 0.1.1beta.10
	pkgrel = 1
	url = https://github.com/HANCORE-linux/Shibumi-Shell
	arch = any
	license = MIT
	depends = omarchy
	depends = quickshell
	depends = python
	depends = jq
	depends = curl
	depends = networkmanager
	depends = power-profiles-daemon
	depends = upower
	depends = xdg-utils
	depends = libnotify
	depends = wl-clipboard
	depends = ttf-material-symbols-variable
	depends = ttf-jetbrains-mono-nerd-basic
	depends = noto-fonts-cjk
	depends = adwaita-fonts
	optdepends = cava: live media spectrum
	optdepends = ffmpegthumbnailer: video picker thumbnails
	optdepends = imagemagick: additional media thumbnails
	optdepends = btop: battery panel system monitor action
	optdepends = nvidia-utils: NVIDIA GPU telemetry
	optdepends = git: source-checkout diagnostics and migration
	source = shibumi-shell-0.1.1-beta.10.tar.gz::https://github.com/HANCORE-linux/Shibumi-Shell/releases/download/v0.1.1-beta.10/shibumi-shell-0.1.1-beta.10.tar.gz
	sha256sums = 63a209a81f731f84d665c6a499a9f66c3d98a0b2e4690d4a6feb5f72b1ecc12c

pkgname = shibumi-shell
